/* default style (small screen) */
:root {
  --display: block;
  --columns: 1fr;
  --rows: 1fr;
  --areas: none;

  --all: span;
  --border: black thin solid;
  --gap: 0;
  --maincol: black;
  --min-height: 2em;
  --mycol: #FFCC9977;
  --pad: 1em;
  --radius: 0;
  --wide: span 1;
  --text-cols: 1;

}

/* larger screens (e.g. tablet) */
@media (480px < width <= 768px) {
  :root {
    --display: grid;
    --columns: 1fr 1fr;
    --rows: 4em auto;

    --areas: "head head";
  }
}

/* wide screen format (e.g. desktop) */
@media (768px < width) {
  :root {
    --display: grid;
    --columns: 1fr 1fr 1fr;
    --rows: 4em auto;

    --all: 1 /-1;
    --areas: "head head head";
    --border: grey thin solid;
    --gap: 1em;
    --max-width: 140ch;
    --min-height: 10vh;
    --pad: 1em;
    --radius: 1ch;
    --wide: span 2;
    --dir: column;
    --imgwidth: 100cqw;
  }
}

@container tile (width > 400px) {
  figure {
    --dir: row;
    --imgwidth: 50cqw;
  }
  main>div>figure>figcaption>p {
    color: white;
    background: red;
  }
  main>div>figure>img {
    width: ;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: var(--pad);
  margin: 0 auto;
  display: var(--display);
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  grid-template-areas: var(--areas);
  gap: var(--gap);
  max-width: var(--max-width);
}

main>h1 {
  grid-area: head;
  align-self: center;
  justify-self: center;
}

main>div {
  container-type: inline-size;
  container-name: tile;
}

main>div>figure {
  border: var(--border);
  border-radius: var(--radius);
  background: var(--mycol);
  min-height: var(--min-height);
  padding: var(--pad);
}

main>div>figure>figcaption {
  columns: var(--text-cols);
}

main>div.wide {
  grid-column: var(--wide);
}

main>div.all {
  grid-column: var(--all);
}

main>div>figure {
  display: flex;
  flex-direction: var(--dir);
}

main>div>figure img {
  object-fit: cover;
  width: var(--imgwidth);
}